@font-face {
  font-family: "AG Letterica";
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src:
    url("../fonts/aglettericac.woff2") format("woff2"),
    url("../fonts/aglettericac.woff") format("woff");
}

@font-face {
  font-family: "AG Letterica";
  font-display: swap;
  font-weight: 600;
  font-style: normal;
  src:
    url("../fonts/aglettericac-bold.woff2") format("woff2"),
    url("../fonts/aglettericac-bold.woff") format("woff");
}
@font-face {
  font-family: "TT Ramillas";
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src:
    url("../fonts/TTRamillas-Regular.woff2") format("woff2"),
    url("../fonts/TTRamillas-Regular.woff") format("woff");
}
